* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.top {
    height: 800px;
    background-color: #E1FF8F;
    background-image: url(img/stars.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 130px -210px;
}

.top__content {
    padding-top: 196px;
}

.title {
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    color: #202027;
    max-width: 769px;
    margin-bottom: 24px;
}

.top-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #202027;
    max-width: 720px;
    margin-bottom: 48px;
}

.top-text__link {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #202027;
}

.top-btn {
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 60px;
    background-color: #202027;
    width: 247px;
    height: 66px;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    color: #FFFFFF;
    font-family: inherit;
    padding: 16px 65px;
    margin-bottom: 156px;

    &:hover {
        background-color: #FFFFFF;
        color: #202027;
    }
}

.mob-top-btn {
        display: none;
}

.strip-container {
    height: 90px;
    overflow: hidden;
    position: relative;
    background-color: #BCEC30;
    padding: 27px 0;
}
        
.games-strip {
    display: flex;
    animation: scroll 30s linear infinite;
    white-space: nowrap;
}

.game-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #202027;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    margin-left: 52px;
    margin-right: 52px;
    transition: transform 0.3s, background 0.3s;    
}

.game-item:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
        
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.games-strip:hover {
    animation-play-state: paused;
}

.content {
    background-color: #202027;
    position: relative;
}

.midllestar {
    position: absolute;
    right: 0;
}

.doublestars {
    position: absolute;
    left: 0;
    top: 770px;
}

.heading {
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 94px;
}

.content-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 24px;
    width: 788px;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    position: inherit;
    justify-content: space-between;
    gap: 32px;
    margin-top: 72px;
    padding-bottom: 50px;
    z-index: 1;
}

.games-box {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
}

.game-card {
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 378px;
    overflow: hidden;
    transition: tranform 0.3s;
}

.game-card:hover {
    transform: scale(1.1);
}

.game-card.regular {
    height: 474px;
}

.game-card.large {
    height: 512px;
}   

.game-img {
    width: 100%;
    height: 314px;
    object-fit: cover;
}

.game-info {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 36px;
    gap: 16px;
}

.game-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: #202027;
}

.game-number {
    border: 1px solid #F7F7F7;
    box-sizing: border-box;
    background-color: #F7F7F7;
    border-radius: 52px;
    width: 110px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #202027;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 10px;
    font-family: inherit;
}

.minigames-content {
    background-color: #202027;
    position: relative;
}

.doublestars2 {
    position: absolute;
    right: 90px;
    top: 130px;
    rotate: 5deg;
}

.doublestars3 {
    position: absolute;
    bottom: 45px;
    right: 85px;
}

.minigames-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1200px;
    padding-top: 72px;
    padding-bottom: 144px;    
}

.minigame-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 46px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.minigame-card:nth-child(odd) .minigame-img {
    order: 1;
}

.minigame-card:nth-child(even) .minigame-info {
    order: 1;
}

.minigame-img {
    flex: 1;
    max-width: 100%;
    object-fit: cover;
    background-position: center;  
}

.minigame-info {
    flex: 1;
    max-width: 100%;
    padding: 48px;
}

.minigame-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    color: #202027;
    margin-bottom: 24px;
}

.minigame-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #202027;
    margin-bottom: 36px;
}

.minigame-btn {
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 60px;
    background-color: #202027;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    color: #FFFFFF;
    font-family: inherit;
    padding: 16px 65px;
}

.minigame-btn:hover {
    background-color: #FFFFFF;
    color: #202027;
}

.footer {
    background-color: #BDED35;
    height: 150px;
}

.footer-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #000000;
    padding: 40px;
    text-align: center;
}

@import 'mobile';
@import 'tablet';

