* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  height: 800px;
  background-color: #E1FF8F;
  background-image: url(img/stars.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 130px -210px;
}

.top__content {
  padding-top: 196px;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  color: #202027;
  max-width: 769px;
  margin-bottom: 24px;
}

.top-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #202027;
  max-width: 720px;
  margin-bottom: 48px;
}

.top-btn {
  border: 1px solid #202027;
  box-sizing: border-box;
  border-radius: 60px;
  background-color: #202027;
  width: 247px;
  height: 66px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #FFFFFF;
  font-family: inherit;
  padding: 16px 65px;
  margin-bottom: 156px;
}
.top-btn:hover {
  background-color: #FFFFFF;
  color: #202027;
}

.mob-top-btn {
  display: none;
}

.strip-container {
  height: 90px;
  overflow: hidden;
  position: relative;
  background-color: #BCEC30;
  padding: 27px 0;
}

.games-strip {
  display: flex;
  animation: scroll 30s linear infinite;
  white-space: nowrap;
}

.game-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #202027;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  margin-left: 52px;
  margin-right: 52px;
  transition: transform 0.3s, background 0.3s;
}

.game-item:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.games-strip:hover {
  animation-play-state: paused;
}

.content {
  background-color: #202027;
  position: relative;
}

.midllestar {
  position: absolute;
  right: 0;
}

.doublestars {
  position: absolute;
  left: 0;
  top: 770px;
}

.heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  color: #FFFFFF;
  padding-top: 94px;
}

.content-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 24px;
  width: 788px;
}

.games-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 72px;
  padding-bottom: 50px;
  z-index: 1;
}

.games-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
}

.game-card {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 378px;
  overflow: hidden;
  transition: tranform 0.3s;
}

.game-card:hover {
  transform: scale(1.1);
}

.game-card.regular {
  height: 474px;
}

.game-card.large {
  height: 512px;
}

.game-img {
  width: 100%;
  height: 314px;
  -o-object-fit: cover;
     object-fit: cover;
}

.game-info {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 36px;
  gap: 16px;
}

.game-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: #202027;
}

.game-number {
  border: 1px solid #F7F7F7;
  box-sizing: border-box;
  background-color: #F7F7F7;
  border-radius: 52px;
  width: 110px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #202027;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 10px;
  font-family: inherit;
}

.minigames-content {
  background-color: #202027;
  position: relative;
}

.doublestars2 {
  position: absolute;
  right: 100px;
  top: 100px;
  rotate: 5deg;
}

.doublestars3 {
  position: absolute;
  bottom: 50px;
  right: 100px;
}

.minigames-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1200px;
  padding-top: 72px;
  padding-bottom: 144px;
}

.minigame-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 46px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.minigame-card:nth-child(odd) .minigame-image {
  order: 1;
}

.minigame-card:nth-child(even) .minigame-info {
  order: 1;
}

.minigame-image {
  flex: 1;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.minigame-info {
  flex: 1;
  max-width: 100%;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 203px;
}

.minigame-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  color: #202027;
  margin-bottom: 24px;
}

.minigame-description {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #202027;
  margin-bottom: 36px;
}

.minigame-btn {
  border: 1px solid #202027;
  box-sizing: border-box;
  border-radius: 60px;
  background-color: #202027;
  width: 247px;
  height: 66px;
  margin-top: 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #FFFFFF;
  font-family: inherit;
  padding: 16px 65px;
}

.minigame-btn:hover {
  background-color: #FFFFFF;
  color: #202027;
}

.footer {
  background-color: #BDED35;
  height: 150px;
}

.footer-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #000000;
  padding-top: 61px;
  padding-left: 450px;
  padding-right: 450px;
}

@media (max-width: 767px) {
  .body {
    overflow: hidden;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 700px;
    background-image: url(img/mob-stars.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50px -110px;
  }
  .top__content {
    padding-top: 148px;
  }
  .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    color: #202027;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 24px;
  }
  .top-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #202027;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 36px;
  }
  .top-btn {
    display: none;
  }
  .mob-top-btn {
    display: block;
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 60px;
    background-color: #202027;
    width: 285px;
    height: 55px;
    margin-left: 29px;
    margin-right: 29px;
    font-size: 16px;
    font-weight: 600;
    line-height: 142%;
    color: #FFFFFF;
    font-family: inherit;
    padding: 16px 103px;
  }
  .strip-container {
    height: 52px;
    overflow-x: hidden;
    padding: 10px 0;
  }
  .game-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #202027;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-left: 26px;
    margin-right: 26px;
    transition: transform 0.3s, background 0.3s;
  }
  .content {
    display: none;
  }
  .doublestars2 {
    display: none;
  }
  .doublestars3 {
    display: none;
  }
  .heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    color: #FFFFFF;
    padding-top: 48px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
  }
  .minigames-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 24px;
    padding: 48px 0;
  }
  .minigame-card {
    display: flex;
    flex-direction: column;
    height: auto;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 46px;
    background-color: #FFFFFF;
    overflow: hidden;
  }
  .minigame-image {
    order: 1;
    max-width: 100%;
    height: 284px;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
  }
  .minigame-info {
    order: 2;
    padding-top: 29px;
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 32px;
    justify-content: center;
  }
  .minigame-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: #202027;
    margin-bottom: 16px;
  }
  .minigame-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #202027;
    margin-bottom: 32px;
  }
  .minigame-btn {
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 60px;
    background-color: #202027;
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 142%;
    color: #FFFFFF;
    font-family: inherit;
    padding: 16px 110px;
  }
  .footer {
    height: 100px;
  }
  .footer-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #000000;
    padding-top: 40px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 40px;
  }
}
@media (hover: none) {
  .minigame-btn:hover {
    background-color: none;
    color: inherit;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  body {
    overflow-x: hidden;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .top {
    height: 750px;
    background-color: #E1FF8F;
    background-image: url(img/stars.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10px -170px;
  }
  .top__content {
    padding-top: 170px;
  }
  .title {
    font-size: 50px;
    font-weight: 700;
    line-height: 100%;
    color: #202027;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 24px;
  }
  .top-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    color: #202027;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 36px;
  }
  .top-btn {
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 60px;
    background-color: #202027;
    width: 250px;
    height: 60px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #FFFFFF;
    font-family: inherit;
    padding: 16px 65px;
    margin-bottom: 156px;
  }
  .top-btn:hover {
    background-color: #FFFFFF;
    color: #202027;
  }
  .midllestar {
    display: none;
  }
  .doublestars {
    display: none;
  }
  .doublestars2 {
    display: none;
  }
  .doublestars3 {
    display: none;
  }
  .heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 48px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
  }
  .content-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
    width: 700px;
  }
  .games-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .games-box {
    display: flex;
    flex-direction: row;
  }
  .game-card {
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 345px;
    overflow: hidden;
    transition: tranform 0.3s;
  }
  .game-card:hover {
    transform: scale(1.1);
  }
  .game-card.regular {
    height: 460px;
  }
  .game-card.large {
    height: 460px;
  }
  .game-img {
    width: 100%;
    height: 60%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .game-info {
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 32px;
    gap: 24px;
  }
  .game-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
    color: #202027;
  }
  .game-number {
    border: 1px solid #F7F7F7;
    box-sizing: border-box;
    background-color: #F7F7F7;
    border-radius: 52px;
    width: 100px;
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    color: #202027;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 10px;
    font-family: inherit;
  }
  .doublestars2 {
    display: none;
  }
  .doublestars3 {
    display: none;
  }
  .minigames-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 832px;
    padding-top: 62px;
    padding-bottom: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .minigame-card {
    display: flex;
    width: auto;
    height: auto;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 46px;
    background-color: #FFFFFF;
    overflow: hidden;
  }
  .minigame-image {
    flex: 1;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
  }
  .minigame-info {
    flex: 1;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 150px;
  }
  .minigame-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: #202027;
    margin-bottom: 20px;
  }
  .minigame-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #202027;
    margin-bottom: 30px;
  }
  .footer {
    height: 100px;
  }
  .footer-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    color: #000000;
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=minigames.css.map */